<h1>Edit Pictures</h1>

<%= link_to "Back", @pictures %>

<%= form_for @pictures do |f| %>
	<p>
		<%= f.label "artist" %>
		<%= f.text_field "artist" %>
	</p>
	<p>
		<%= f.label "title" %>
		<%= f.text_field "title" %>
	</p>
	<p>
		<%= f.label "url" %>
		<%= f.text_field "url" %>
	</p>
	<p>
		<%= f.submit_tag "Save" %>
	</p>
<% end %> 
