<h1>Add a picture</h1>

<%= form_tag "/pictures" do %>
<!-- <form action="/pictures" method="POST"> -->
  <p>
    <%= label_tag "artist" %><br>
<!-- <label>Artist</label><br> -->
    <%= text_field_tag "artist" %>
<!--<input type="text" name="artist"/> -->
  </p>
  <p>
    <%= label_tag "title" %><br>
<!--  <label>Title</label><br> -->
    <%= text_field_tag "title" %>
<!-- <input type="text" name="title"/> -->
  </p>
  <p>
    <%= label_tag "url" %><br>
<!-- <label>URL</label><br> -->
    <%= text_field_tag "url" %>
<!-- <input type="text" name="url"/> -->
  </p>
  <p>
    <%= submit_tag "Save" %>
<!-- <input type="submit"/> -->
  </p>
<% end %>
<!-- </form> --> -->

 
  